html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/pattern.svg");
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	max-width: 100%;

	font-family: "open_sansregular";
}

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.navbar {
	display: grid;
	grid-template-columns: repeat(7 , 1fr);
	grid-template-rows: 1fr;
	text-align: center;

	top: 0;
	left: 0;

	width: 100%;
	height: 3vw;

	background-color: rgba(255,255,255,.2);

}

.navbar div {
	height: 100%;
	border-right: 3px solid rgba(255,255,255,.4);
	padding-top: 1vw;
	vertical-align: middle;

	color: white;
	text-transform: uppercase;
	letter-spacing: .04em;
	font-family: 'open_sansbold';
}

.navbar a:nth-child(1) {
	grid-area: 1 / 1 / 2 / 2;
}

.navbar a:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}

.navbar a:nth-child(3) {
	grid-area: 1 / 3 / 2 / 4;
}

.navbar div:hover {
	background-color: rgba(255,255,255,.1);
	transition: ease 0.3s;
}

a:link {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/*Make navbar be left aligned
make the dividing bars go all the way down
make whole button either darken or lighten on hover
make button be different for active page*/
