{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Stock Data</title>
		<link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='datagrid.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='fonts/FontSheet.css')}}"/>
	</head>

	<body>
		<!-- NAVIGATION BAR -->
		<nav id="navbar"></nav>
		<script src="{{url_for('static', filename='navbar.js')}}"></script>
		
		<div class = grid>
			<div>
				Top text.
			</div>
			<div>
				Graph 1
			</div>
			<div>
				Graph 2
			</div>
			<div>
				Graph 3
			</div>
			<div>
				Graph 4
			</div>
			<div>
				Graph 5
			</div>
			<div>
				Graph 6
			</div>
		</div>
	</body>
</html>
{% endblock %}