{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<title>Stock Data</title>
		<link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='grid.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='fonts/FontSheet.css')}}"/>
	</head>

	<body>
		<!-- NAVIGATION BAR -->
		<div class ="navbar">
			<div> <a href="/">Home</a> </div>
			<div> <a href="calculator">Calculator</a> </div>
			<div> <a href="data">Data</a> </div>
		</div>
		<div class = grid>
			<div>
				Cell 1
			</div>
			<div>
				Cell 2
			</div>
			<div>
				Cell 3
			</div>
			<div>
				Cell 4
			</div>
		</div>
	</body>
</html>
{% endblock %}