{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<title>ATS Site</title>
		<link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='grid.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='fonts/FontSheet.css')}}"/>
	</head>

	<body>
		<!-- NAVIGATION BAR -->
		<div class ="navbar">
			<a href="/"> <div> Home </div> </a>
			<a href="calculator"> <div> Calculator </div> </a>
			<a href="data"> <div> Data </div> </a>
		</div>
		<div class = grid>
			<div>
				Cell 1
			</div>
			<div>
				Cell 2
			</div>
			<div>
				Cell 3
			</div>
			<div>
				Cell 4
			</div>
		</div>
	</body>
</html>
{% endblock %}