{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
	<head>
		<title>ATS Site</title>
		<link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='grid.css')}}"/>
		<link rel="stylesheet" href = "{{url_for('static', filename='fonts/FontSheet.css')}}"/>
	</head>

	<body>
		<!-- NAVIGATION BAR -->
		<nav id="navbar"></nav>
		<script src="{{url_for('static', filename='navbar.js')}}"></script>

		<div class = grid>
			<div>
				ATS
			</div>
			<div>
				*insert graph*
			</div>
			<div>
				<span class = "gridtitle"> The Site </span>
				<br>This site will take in a user-inputted stock symbol
				and provide historic data along with an algorith-based prediction of future trends.
			</div>
			<div>
				<span class = "gridtitle"> The Group </span>
				<br>ATS is a Registered Student Organization at UIUC that aims to teach peers about smart investing by combining elements of economics and computer science.
			</div>
		</div>
	</body>
</html>
{% endblock %}